<!DOCTYPE html>
<html>
  <head>
    <meta id="pageSchema" content="<%= pageSchema%>">
    <style>
      body {
        margin: 0;
      }
      html, body, #root {
        height: 100%;
      }
    </style>
    <script src="http://127.0.0.1:5003/container-compositor.js"></script>
  </head>
  <body>
    <div id="root" is="container-compositor"></div>
  </body>
</html>
